.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.page__overflow {
    overflow: auto;
}
.page__body {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
 }
