.map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 231px;
    background: linear-gradient(90deg, rgba(255,255,255,0.8) 25%, rgba(255,255,255,0.8) 25%), url(map.png) no-repeat;
    background-size: cover;
    max-width: 100%;
    background-position: center;
}
.map__title {
    color: #F38281;
}
.map__icon {
    width: 42px;
    height: 42px;
}