.button {
    border: 4px solid #FFFFFF;
    width: 369px;
    height: 77.58px;
    cursor: pointer;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    background: #e5e5e500;
    color: #FFFFFF;
}
.button:hover {
    background: #FFFFFF;
    color: #E4BE8D;
}
.button:active {
    border: 4px solid #E4BE8D;
}

@media (max-width: 1024px)  {
    .button {
        font-size: 18px;
        line-height: 21px;
        width: 318px;
        height: 54.25px;
    }
}
@media (max-width: 450px)  {
    .button {
        font-size: 18px;
        line-height: 21px;
        width: 284px;
        height: 52px;
    }
}